<h1>Basics</h1>
<p>Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?</p>
<p>A resource is an abstraction of an object or concept in the real world</p>
<p>Qué puede hacerse con un resource?</p>
<p>A resource can be created, read, updated or deleted</p>
<p>Qué es RESTful routing?</p>
<p>It's a method of routing certain actions to certain HTTP requests</p>
<p>Cuantas acciones básicas tiene esta filosofía?</p>
<p>7</p>
<p>Cuales son?</p>
<p>index, show, new, create, edit, update and destroy</p>
<p>Cuales verbos HTTP se utilizan en cada una de ellas?</p>
<p>Respectively, get, get, get, post, get, patch and delete</p>