<h1>Git</h1>
<p>Initialize repository: git init</p>
<p>Create new branch: git chekcout -b newBranch</p>
<p>Commit with all changes: git commit -A</p>
<p>Sending conde to repository: git push -u origin master</p>
<p>Configuring the origin: git remote add origin https://repository.com/user/project.git</p>
<p>Revert creates a commit that undoes the changes from a previous commit. Reset changes which commit a branch head is currently pointing at</p>
<p>You can use the chekcout command to move between existing branches or undo changes you haven't commited yet.</p>
<p>You can look at every commit with the command "git log"</p>
<p>You can use "git add/rm <file>..." to add only the file you want to be commited</p>
